<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>DIY</title>
<link rel="stylesheet" href="plugin/scrollbar/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="style.css">
</head>

<body ng-app="mod" ng-controller="ctrl_1">
<div class="topNav"><img src="images/head.jpg"></div>
<div class="container">
  <div class="AreaL fl"></div>
  <div class="AreaR fr">
    <div class="menuBox">
      <ul id="menu">
        <li class="cur">鞋面</li>
        <li>鞋跟</li>
        <li>配饰</li>
        <li>尺码</li>
      </ul>
    </div>
    <div id="opt" class="opt">
      <form id="myform">
          <div class="cat" id="vamp">
            <h5>选择一种面料</h5>
            <ul class="tabTit">
              <li ng-repeat="x in vamp">
                <div><img ng-src="{{x.Cover}}"></div>
                <p ng-bind="x.Name"></p>
                <input type="radio" name="vamp" value="{{x.Id}}">
              </li>
            </ul>
            <h5>选择一种面料颜色</h5>
            <div class="tabLayer">
                <ul ng-hide="true" ng-repeat="x in vamp">
                  <li ng-repeat="x in x.Color" ng-click="selectColor('vamp',x.SamllPic)">
                    <div><img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==" style="background:{{x.ColorInfoRgb}}"></div>
                    <p ng-bind="x.ColorInfoName"></p>
                     <input type="radio" name="vamp_color" value="{{x.Id}}">
                  </li>
                </ul>
            </div>
          </div>
          <div class="cat hide" id="heel">
            <h5>选择一种面料</h5>
            <ul class="tabTit">
              <li ng-repeat="x in heel" ng-click="caizhi('heel',$index)">
                <div><img ng-src="{{x.Cover}}"></div>
                <p ng-bind="x.Name"></p>
                 <input type="radio" name="heel" value="{{x.Id}}">
              </li>
            </ul>
            <h5>选择一种面料颜色</h5>
            <div class="tabLayer">
                <ul ng-hide="true" ng-repeat="x in heel">
                  <li ng-repeat="x in x.Color" ng-click="selectColor('heel',x.SamllPic)">
                    <div><img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==" style="background:{{x.ColorInfoRgb}}"></div>
                    <p ng-bind="x.ColorInfoName"></p>
                    <input type="radio" name="heel_color" value="{{x.Id}}">
                  </li>
                </ul>
            </div>
          </div>
          <div class="cat hide" id="adorn">
            <div class="tabLayer">
                <ul>
                  <li ng-repeat="x in adorn" ng-click="selectColor('adorn',x.ShoesAccPic)">
                    <div><img ng-src="{{x.Cover}}"></div>
                    <p ng-bind="x.Name"></p>
                    <input type="radio" name="adorn" value="{{x.Id}}">
                  </li>
                </ul>
            </div>
          </div>
          <div class="cat size hide">
            <div class="tabLayer"> 
                <ul>
                  <li ng-repeat='x in size' id="{{x.China}}">
                    <span ng-bind="x.China"></span>
                    <input type="radio" name="size" value="{{x.Id}}">
                  </li>
                </ul>
            </div>
          </div>
      </form>
    </div>
    <div class="btnBox">
      <button ng-click="save()">完成设计</button>
    </div>
  </div>
  <div class="AreaC">
    <div id="showPic">
    	<!--舞台展示-->
    	<img ng-src="{{x.Path}}" title="{{x.Name}}" style="z-index:{{x.Zindex}}" ng-repeat="x in base">
    	<div id="updataView" ng-click='updataView()' style="display:none"></div>
    </div>
    <ul class="subMenu">
      <li class="reset" ng-click="resets()"> <i class="ico"></i> <span class="tip">重来</span> </li>
      <li class="rotate" ng-click="rotate(1)"> <i class="ico"></i> <span class="tip">旋转</span> </li>
      <li class="share"> <i class="ico"></i> <span class="tip">分享</span>
        <div class="shareList"> <a class="wx" data-cmd="wx" title="微信"></a> <a class="tsina" data-cmd="tsina" title="新郎微博"></a> <a class="tqq" data-cmd="tqq" title="腾讯微博"></a> <a class="qzone" data-cmd="qzone" title="QQ空间"></a> </div>
      </li>
      <li class="fullScreen" ng-click="fullScreen()"> <i class="ico"></i> <span class="tip">全屏</span> </li>
    </ul>
    <button ng-click="rotate(0)" id="rotate-left" ng-hide="true">左转</button>
    <button ng-click="rotate(1)" id="rotate-right" ng-hide="true">右转</button>
  </div>
</div>
<script src="plugin/jquery.min.js"></script> 
<script src="plugin/angular.min.js"></script> 
<script src="plugin/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script> 
<script src="diy.js"></script> 
<script>
var diy=new Diy({id:3,uid:1});//id:基础款id  uid：用户id
diy.init();
</script>
</body>
</html>
