<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>DIY</title>
<link rel="stylesheet" href="plugin/scrollbar/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="style.css">
</head>

<body ng-app="mod" ng-controller="ctrl_1">
<div class="topNav"><img src="images/head.jpg"></div>
<div class="container">
  <div class="AreaL fl"></div>
  <div class="AreaR fr">
    <div class="menuBox">
      <ul id="menu">
        <li class="cur">鞋面</li>
        <li>鞋跟</li>
        <li>配饰</li>
        <li>尺码</li>
      </ul>
    </div>
    <div id="opt" class="opt">
      <div class="cat">
        <h5>选择一种面料</h5>
        <ul>
          <li class="{{y.def==1?'cur':''}}" id="{{y.pid+'-'+x}}" ng-repeat="(x,y) in fvamp" ng-click="fvamp_select({pid:y.pid,id:x})">
            <div><img src="{{y.img}}"></div>
            <p ng-bind="y.name"></p>
            <input type="radio" name="{{y.pid}}" ng-checked="{{y.def==1}}" disabled>
          </li>
        </ul>
        <h5>选择一种面料颜色</h5>
        <ul>
          <li class="{{y.def==1?'cur':''}}" ng-repeat="(x,y) in cvamp">
            <div><img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==" style="background:{{y.cval}}"></div>
            <p ng-bind="y.name"></p>
            <input type="radio" name="{{y.pid}}" ng-checked="{{y.def==1}}" disabled>
          </li>
        </ul>
      </div>
      <div class="cat hide">
        <h5>选择一种面料</h5>
        <ul>
          <li class="{{y.def==1?'cur':''}}" id="{{y.pid+'-'+x}}" ng-repeat="(x,y) in fheel" ng-click="fheel_select({pid:y.pid,id:x})">
            <div><img src="{{y.img}}"></div>
            <p ng-bind="y.name"></p>
            <input type="radio" name="{{y.pid}}" ng-checked="{{y.def==1}}" disabled>
          </li>
        </ul>
        <h5>选择一种面料颜色</h5>
        <ul>
          <li ng-repeat="(x,y) in cheel">
            <div><img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==" style="background:{{y.cval}}"></div>
            <p ng-bind="y.name"></p>
            <input type="radio" name="{{y.pid}}" ng-checked="{{y.def==1}}" disabled>
          </li>
        </ul>
      </div>
      <div class="cat hide">
        <ul>
          <li class="cur">
            <div><img src="data/other/img3.jpg"></div>
            <p>小花</p>
          </li>
        </ul>
      </div>
      <div class="cat size hide">
        <ul>
          <li ng-repeat='x in size'><span ng-bind="x"></span></li>
        </ul>
      </div>
    </div>
    <div class="btnBox">
      <button>完成设计</button>
    </div>
  </div>
  <div class="AreaC">
    <div id="showPic">
    	<!--舞台展示-->
    	<img src="{{x.Path.replace('xibuxiedu.dev.bodecn.com','7xqkfy.com1.z0.glb.clouddn.com')+'?v1'}}" title="{{x.Name}}" style="z-index:{{x.Zindex}}" ng-repeat="x in base">
    	<div id="updataView" ng-click='updataView()' style="display:none"></div>
    </div>
    <ul class="subMenu">
      <li class="reset" ng-click="resets()"> <i class="ico"></i> <span class="tip">重来</span> </li>
      <li class="rotate" ng-click="rotate(1)"> <i class="ico"></i> <span class="tip">旋转</span> </li>
      <li class="share"> <i class="ico"></i> <span class="tip">分享</span>
        <div class="shareList"> <a class="wx" data-cmd="wx" title="微信"></a> <a class="tsina" data-cmd="tsina" title="新郎微博"></a> <a class="tqq" data-cmd="tqq" title="腾讯微博"></a> <a class="qzone" data-cmd="qzone" title="QQ空间"></a> </div>
      </li>
      <li class="fullScreen" ng-click="fullScreen()"> <i class="ico"></i> <span class="tip">全屏</span> </li>
    </ul>
    <button ng-click="rotate(0)" id="rotate-left" ng-hide="true">左转</button>
    <button ng-click="rotate(1)" id="rotate-right" ng-hide="true">右转</button>
  </div>
</div>
<script src="plugin/jquery.min.js"></script> 
<script src="plugin/angular.min.js"></script> 
<script src="plugin/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script> 
<script src="diy.js"></script> 
<script>
var diy=new Diy(3);
diy.init();

/*$.ajax({
	url:'http://xibuxiedu.dev.bodecn.com/Web/Online/GetBaseModelInfo',
	data:{
		baseModelId:17	
	},
	dataType:"jsonp",
	type:'get',
	success: function(d){
		alert(JSON.stringify(d))
	},
	error:function(){
		alert('error')	
	}	
})
*/</script>
</body>
</html>
