@charset "utf-8";
/*
 @ Name：高跟鞋DIY
 @ Author：前端老徐
 @ Date：2016/01/18
 @ Blog:http://www.loveqiao.com/
*/


/**
 * 公共样式
 */
* { -webkit-tap-highlight-color: rgba(255,255,255,0); outline: none; padding: 0; margin: 0; }
html,body{ height:100%;}
body {background-color: #d8d8d8; background-image: linear-gradient(#ccc, #fff); background-image: -webkit-linear-gradient(#ccc, #fff); background-image: -moz-linear-gradient(#ccc, #fff); }
ul, ol, li { list-style: none; }
i, em { font-style: normal; }
img { vertical-align: middle; display: block; border: none; max-width:100%; }
a { text-decoration: none; color: #666; }
a:hover { color: #0ae }
.fl { float: left; }
.fr { float: right; }
.hide { display: none; }
/**
 * 重置滚动条美化插件样式
 */
.mCSB_container { margin: 0; }
.mCSB_scrollTools .mCSB_draggerRail { background: none; }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 5px; background: #8c8c8c; }
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background: #666 }
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background: rgba(0,0,0,0.9); filter: "alpha(opacity=90)"; -ms-filter: "alpha(opacity=90)"; /* old ie */ }

/*提示文字*/
#TipInfo { position: absolute; left: 50%; top: 100px; background: #242424; height: 35px; line-height: 35px; padding: 0 15px; color: #fff; z-index: 100; visibility: hidden; }
#TipInfo:after { content: ''; position: absolute; left: 50%; bottom: -5px; margin-left: -6px; width: 0; height: 0; border-style: solid; border-width: 5px 6px 0; border-color: #242424 transparent #fff; }

/**
 * 导航
 */
.topNav{ height:87px; background:#fff; box-shadow:0 0 5px #999; text-align:center; margin-bottom:20px;}
.topNav img{ margin:0 auto;}
/**
 * 布局
 */
/*.container{ margin-top:40px; overflow:hidden;}
*/.AreaR { width: 310px; padding-left: 50px;}
.AreaC { overflow: hidden; text-align: center;}
/**
* 舞台
*/
#showPic:after { background:#CCC; bottom:80px; box-shadow: 0 0 55px 5px #666; transform: scale(1.5, 0.5); content: ""; left: 30%; position: absolute; width: 40%; height: 0; border-radius:50%; }
#showPic{ width:300px; height:300px; transition:all ease .3s; margin:0 auto; position:relative;}
#showPic img,#showPic canvas{ position:absolute; left:0; top:0; width:100%; height:100%;}
#showPic canvas { opacity: 0.3; }
/**
 * 功能操作按钮
 */
.subMenu { color: #666; text-align: center; font-size:12px; padding:25px 0 40px; }
.subMenu li { display: inline-block; text-align: center; width: 32px; margin: 0 18px; cursor: pointer; position: relative; z-index:100; }
.subMenu .ico { display: block; width: 32px; height: 32px; margin: 0 auto; background: url(images/ico.png) no-repeat; }
.subMenu .reset .ico { background-position: 2px -73px; }
.subMenu .reset:hover .ico { background-position: 2px -111px; }
.subMenu .rotate .ico { background-position: -36px -73px; }
.subMenu .rotate:hover .ico { background-position: -36px -111px; }
.subMenu .save .ico { background-position: -114px -73px; }
.subMenu .save:hover .ico { background-position: -114px -111px; }
.subMenu .share .ico { background-position: -75px -73px; }
.subMenu .share:hover .ico { background-position: -75px -111px; }
.subMenu .diyinfo .ico { background-position: -150px -73px; }
.subMenu .diyinfo:hover .ico { background-position: -150px -111px; }
.subMenu .fullScreen .ico { background-position: -186px -73px; }
.subMenu .fullScreen:hover .ico { background-position: -186px -111px; }
.shareList { background: #fff; width: 200px; height: 45px; border: solid 1px #ddd; border-radius: 5px; position: absolute; left: -10px; top: -50px; visibility: hidden; opacity: 0; transition: all .2s; transform: translateY(10px) }
.subMenu .share:hover .shareList { visibility: visible; opacity: 1; transform: translateY(0) }
.shareList:after { content: ''; width: 0; height: 0; overflow: hidden; position: absolute; left: 20px; bottom: -5px; border-style: solid; border-width: 5px 6px 0; border-color: #ddd transparent #fff; }
.shareList a { width: 30px; height: 30px; background: url(images/ico.png) no-repeat; display: block; float: left; margin: 7px 0 0 15px; }
.shareList .wx { background-position: 0 2px }
.shareList .wx:hover { background-position: 0 -36px }
.shareList .tsina { background-position: -52px 2px }
.shareList .tsina:hover { background-position: -52px -36px }
.shareList .tqq { background-position: -98px 2px }
.shareList .tqq:hover { background-position: -98px -36px }
.shareList .qzone { background-position: -145px 2px }
.shareList .qzone:hover { background-position: -145px -36px }
/**
 * 右侧菜单区
 */
.opt { height:400px; background: #fff; border-top-left-radius: 15px; padding:10px 0 0; overflow:hidden;}
.opt h5{ padding:10px 20px 5px; font-weight:normal; color:#999;}
.opt ul{ overflow:hidden; font-size:12px; padding-left:10px; text-align:center; line-height:24px;}
.opt li{float:left; width:29%; padding:5px; float:left; cursor:pointer;}
.opt li div{ position:relative; }
.opt li.cur div:after{ content:''; position:absolute; left:50%; top:50%; width:30px; height:30px; border-radius:50%; background:rgba(0,0,0,.3); margin:-15px 0 0 -15px;}
.opt li.cur div:before{ content:''; width:14px; height:11px; background:url(images/dui.gif) no-repeat;position:absolute; left:50%; top:50%; margin:-5px 0 0 -7px; z-index:1;}
.opt img{ margin:0 auto; width:100%; background:#eee;}
.btnBox{ background:#f6f6f6;border-bottom-left-radius: 15px; padding:25px; text-align:center;}
.btnBox button{ width:240px; height:40px; background:#000; color:#fff; font-size:16px; border:0; cursor:pointer;}
.opt .size span{ display:block; height:40px; line-height:40px; border:solid 1px #ddd;}
.opt .size .cur span{border-color:#00AAEE;}
/*主菜单*/
.menuBox { text-align:center; float: left; margin-left: -50px; width: 50px; font-size: 12px; color: #717171; }
.menuBox ul { margin-top: 46px; border-radius: 15px 0 0 15px; padding:40px 0; background: #eee; }
.menuBox li {height: 80px; line-height:80px; cursor: pointer;}
.menuBox li.cur{ background:#fff;}

















